{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header>
      <nav class="container container--70">

        {{ block.super }}

      </nav>
    </header>
{% endblock header %}

{% block content %}
    <section class="about-us">
      <div class="about-us--text">
        <h2>Profil użytkownika {{ user.username.upper }}</h2>

          <p><strong>Imię: </strong>{{user.first_name|default:"nie podano"}}</p>
          <p><strong>Nazwisko: </strong>{{user.last_name|default:"nie podano"}}</p>
          <p><strong>Email: </strong>{{user.email|default:"nie podano"}}</p>
      </div>
      <div class="about-us--text">
          <p style="font-size: 2.2rem"><strong>Przekazane dary:</strong></p>
          {%for donation in user_donations %}
          <form action="{% url 'archive' donation.id %}" method="post">{% csrf_token %}
          <ul style="font-size: large">
              {%if donation.is_taken %}
          <li style="color: grey">
              Liczba worków: {{donation.quantity}} //
              Kategorie: {%for cat in donation.categories.all%}{{cat}}{% if not forloop.last %}, {% endif %}{%endfor%} //
              Organizacja: {{donation.institution}} // Data odbioru: {{donation.pick_up_date}}
              <br>
              Status: ODEBRANY Aktualizacja: {{donation.taken_time|default:""}}
              <button type="submit" name="archive-remove">Nieodebrany</button>
          </li>
              {%else%}
          <li>Liczba worków: {{donation.quantity}} //
              Kategorie: {%for cat in donation.categories.all%}{{cat}}{% if not forloop.last %}, {% endif %}{%endfor%} //
              Organizacja: {{donation.institution}} // Data odbioru: {{donation.pick_up_date}}
              <br>
              Status: NIEODEBRANY Aktualizacja {{donation.taken_time}}
              <button type="submit" name="archive-add">Odebrany</button>
          </li>
              {%endif%}
          </ul>
          </form>
          {%endfor%}
      </div>
    </section>
{% endblock content %}
