{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header>
      <nav class="container container--70">

        {{ block.super }}

      </nav>
    </header>
{% endblock header %}

{% block content %}

    <section class="login-page" id="login-form">
          <h2>Zresetuj hasło</h2>
  <h3>Nie pamiętasz swojego hasła? Wprowadź w poniższym polu swój adres e-mail, a wyślemy ci instrukcję opisującą sposób ustawienia nowego hasła.</h3>

  <form method="POST">
    {% csrf_token %}
      <div class="form-group">
    {{ form.as_p }}
      </div>
      <div class="btn--small">
    <input type="submit" value="Zresetuj moje hasło!">
      </div>
  </form>
    </section>

{% endblock content %}
